.zoom-adventures {
  transition: transform 0.3s ease-in-out;
  &:hover {
    transform: translateX(-10px);
  }
}

.custom-border-slogan {
  position: relative;
  padding: 40px;
  display: inline-block;
  margin: 2% 0 2% 0;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 10px;
    border-top: 1px solid #000;
    border-left: 1px solid #000;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50px;
    height: 10px;
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
  }
}
