.booking-root {
  margin-top: 2rem;

  .booking-paper {
    padding: 1rem;
    background-color: rgb(0, 41, 45);
  }

  .calendar {
    padding: 1rem;
    width: 100%;
    border: none;

    & .react-calendar__tile--active {
      background: rgba(0, 0, 255, 0.2);
    }
  }
}
