.booking-root {
  margin-top: 2rem;

  .booking-paper {
    padding: 1rem;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    transition: box-shadow 0.3s ease;

    &:hover {
      box-shadow: 0px 0px 15px rgba(0, 0, 255, 0.2);
    }
  }

  .calendar {
    padding: 1rem;
    width: 100%;
    border: none;

    & .react-calendar__tile--active {
      background: rgba(0, 0, 255, 0.2);
    }
  }
}
