$transparent: transparent;
$none: none;
$md: 960px;
$rgba: rgba(0, 0, 0, 0.1);
$white: #fff;

.navbar-root {
  flex-grow: 1;
}

.appBar {
  background-color: $transparent;
  box-shadow: $none;
}

.menuButton {
  margin-right: 16px;
  @media (min-width: #{$md}) {
    display: none;
  }
}

.toolbar {
  display: flex;
  justify-content: center;
}

.drawer {
  width: 200px;
}

.drawerPaper {
  width: 200px;
}

.navLink {
  background-color: $rgba;
  margin: 0 30px;
  padding: 2px 10px;
  border-radius: 20px;
  color: $white;
  text-decoration: none;
  margin-right: 16px;
  &:hover {
    box-shadow: 0 0 10px rgba($white, 0.8);
    cursor: pointer;
  }
}
