$md: 960px;
$rgba: rgba(0, 0, 0, 0.1);
$white: #fff;

.drawer {
  width: 150px;
}

.navLink {
  background-color: $rgba;
  margin: 0 30px;
  padding: 2px 10px;
  border-radius: 20px;
  color: $white;
  text-decoration: none;
  margin-right: 16px;
  &:hover {
    box-shadow: 0 0 10px rgba($white, 0.8);
    cursor: pointer;
  }
}
