.root {
  flex-grow: 1;
  // margin: 0;

  .title {
    font-weight: bold;

    @media (max-width: 640px) {
      margin-top: 10%;
    }
  }

  .background-image {
    background-image: url("../../accets/Images/Lakegala/lakegala9.jpg");
    background-size: cover;
    background-position: 10% 20%;
    background-repeat: no-repeat;
    flex: 1;
    height: 82vh;

    @media (max-width: 640px) {
      height: 45vh;
    }
  }
  .footer {
    background-color: black;
  }
}
