.root {
  flex-grow: 1;
  // margin: 0;

  .title {
    font-weight: bold;

    @media (max-width: 640px) {
      margin-top: 10%;
    }
  }

  .background-image {
    background-image: url("https://firebasestorage.googleapis.com/v0/b/meemure-app.appspot.com/o/assets%2Fimages%2Flakegala%2Flakegala9.jpg?alt=media&token=80c94d20-81ff-4eeb-bf70-2e6211ff125f");
    background-size: cover;
    background-position: 10% 20%;
    background-repeat: no-repeat;
    flex: 1;
    height: 82vh;

    @media (max-width: 640px) {
      height: 45vh;
    }
  }
  .footer {
    background-color: black;
  }
}
